body {
    font-family: 'Montserrat', sans-serif;
    
}
.container {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 28px;
}
.header-item {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-basis: 57.9%;
    letter-spacing: 0.02em;
}
.header-logo {
    display: block;
    background-image: url(../image/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.social-in {
    background-image: url(../image/icons/IN.svg);
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    transform: scale(1);
    transition: 0.3s;

}
.social-fb {
    background-image: url(../image/icons/FB.svg);
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    transform: scale(1);
    transition: 0.3s;  
}
.social {
    display: flex;
    gap: 30px;
}
.header-nav {
    display: flex;
    list-style-type: none;
    gap: 53px;
    padding-left: 0px;
}
.header-nav a {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;
    position: relative;
}
.header-nav a::after {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 0;
    background-color:  #2B3541;
    left: 0%;
    transition: 0.3s;
    bottom: -10px;
}
.header-nav a:hover::after {
    width: 100%;
}
.social a:hover {
    transform: scale(1.2666);
    opacity: 1;
 }
.content{
    padding-top: 186px;
    margin-bottom: 135px;
    position: relative;
}
.wrapper {
    position: relative;
}
.content-h1 {
    display: block;
    letter-spacing: 0.05em;
    max-width: 676px;
    line-height: 125%;
    text-transform: uppercase;
    color: #2B3541;
    margin-bottom: 43px;
    font-size: 47px;
}
.content-h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 20px;
}
.description {
    margin-left: 90px;
}
.content-description {
    font-weight: 400;
    font-size: 18px;
    max-width: 297px;
    line-height: 150%;
    color: #2B3541;
    margin: 0;
    margin-bottom: 58px;
   
}
.content-detal {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2B3541;
    text-transform: uppercase;
    padding: 23px 30px;
    background: #FBF138;
    transition: .2s ease;
    border: none;
}
.content-detal:hover {
    color: #FBF138;
    background-color: #2B3541;
}
.bg-down {
    background-image: url(../image/icons/Arrow.svg);
    background-repeat: no-repeat;
    display: block;
    margin-top: 205px;
    width: 52px;
    height: 55px;
    cursor: pointer;
    transition: .2s ease;
}
.bg-down:hover {
    transform: scale(1.2);
}


.box-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -174px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    z-index: -1;
    height: 838px;
}

.box-gradient-left {
    background: linear-gradient(90deg, rgba(251, 241, 56, 0.2) 0%, rgba(253, 249, 182, 0.45) 145.23%);
    width: 535px;
    height: 100%;
}
.box-gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: 0.2;
    flex-basis: 30%;
    height: 100%;
}
.box-image-girl {
    background-image: url(../image/girl.png);
    position: absolute;
    top: 27px;
    right: -11px;
    width: 996px;
    height: 850px;
    background-repeat: no-repeat;  
}

.event {
    margin-top: 163px;
}
.event-header {
    margin-bottom: 42px;
}
.event-title {
    font-size: 40px;
    color: #2B3541;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 67px;
    margin-left: 3px;
    gap: 19px;
    position: relative ;
    margin-bottom: 127px;
    
}
.event-gradient { 
   width: 367px;
   height: 600px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative; 
     
}
.event-gradient img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% center;
    
}
.event-content {
    top: 0px;;
    color:#2b3541;
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
}
.event-content:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
    
 }
 .event-date {
    padding-left: 29px;
    color: #2B3541;
    font-size: 18px;
    padding-top: 13px;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
}
.event-heading {
    color: #2B3541;
    font-size: 28px;
    padding-left: 29px;
    margin-top: 21px;
    line-height: 120%;
}
 .event-btn {
    opacity: 0;
    margin-left: 30px;
    margin-right: 116px;
    padding: 22px 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #2b3541;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    color: #fbf138;
 }
 .event-gradient:hover .event-btn {
    opacity: 1;
 }
 .event-hashtag {
    background-color: #fbf138;
    color: #2b3541;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
 }
 .coaching {
     margin-bottom: 159px;
 }
 .coaching-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;
    
 }
 .coaching-title {
     font-size: 40px;
     line-height: 50px;
     color: #2B3541;

 }
 .coach-date {
     font-size: 28px;
     color: #2B3541;
     margin-right: -1px;
 }
 .coaching-grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 39px 73px 280px;
    gap: 20px;
   
 }
 .coaching-grid {
    border: 1px solid #b3b8b2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    overflow: hidden;
 }
 
 .coaching-grid:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
 }
.coaching-grid:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
 }
 .coaching-grid:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
 }
 .coaching-grid:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    border: none;
 }
 .coaching-grid:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
 }
 .coaching-grid:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
 }
 /*.coaching-content-head {
    background: linear-gradient(180deg, rgba(251, 241, 56, .7) 0%, rgba(253, 249, 182, 0.45) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.7;
 }*/

 .coaching-date  {
     position: absolute;
     margin-top: 12px;
     right: 20px;
     font-size: 19px;
     color: #2B3541;
     opacity: 0.7;
 }
.coaching-content {
    position: absolute;
    bottom: -83px;
    left: 31px;
}
.coaching-content-sculpt {
    position: absolute;
    bottom: -60px;
    left: 31px;
}
.coaching-content img {
    margin-bottom: 19px;
}
.coaching-content-sculpt img {
    margin-bottom: 19px;
}

.coaching-description {
    line-height: 120%;;
    font-size: 18px;
    color: #2b3541;
    opacity: 0;
}
.coaching-content, .coaching-content-sculpt {
    transition: 0.3s linear; 
}
.coaching-grid:hover .coaching-content {
    bottom: -10px; 
    
}
.coaching-grid:hover .coaching-content-sculpt {
    bottom: 20px;  
}
.coaching-grid:hover .coaching-description {
    opacity: 1;
}
.message {
    background-color: #f3f3f3;
    margin-bottom: 145px;
    height: 348px;
}
.message-header {
    max-width: 600px;
    margin: 0 auto;
   
    
}
.message-title {
    padding: 82px 0 18px 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: #2B3541;
    position: relative;
    z-index: 1;
    text-align: center;
}

.message-form {
    
    display: flex;
    align-items: center;
    gap: 27px;
    margin-bottom: 10px;
    
}
.message-input {
    display: block;
    width: 372px;
    background: #fff;
    padding: 21px 105px 21px 19px;
    font-size: 18px;
    color: #2B3541;
    border: none;
}

.message-btn, .about-btn {
    background: #FBF138;
    padding: 23px 30px;
    border: none;
    text-decoration: none;
    transition: .3s ease;
    cursor: pointer;
}
.message-btn-text, .about-btn-text  {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #2B3541;
    text-transform: uppercase;
    transition: .3s ease;
}
.message-btn:hover  {
    color: #FBF138;
    background-color: #2B3541;
}
.message-btn:hover .message-btn-text {
    color: #FBF138;
}
.agreement {
    position: absolute;
}
.checkbox:checked,
.checkbox:not(:checked) {
   position: absolute;
   left:-9999px;
}
.message-title:before {
    background: #fbf138;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    left: -32px;
    top: 57px;
    z-index: -1;
    position: absolute;
    content: "";  
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before {
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after {
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after {
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before {
   border-radius: 100%;
}
.about-header {
    display: flex;
   
   


   
}

@media (min-width: 766px) {
    .header-gym {
        display: none;
    }
}